[submodule "examples/c/extern/googletest"]
	path = examples/c/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "examples/c/extern/libconfig"]
	path = examples/c/extern/libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "examples/c/extern/fff"]
	path = examples/c/extern/fff
	url = https://github.com/meekrosoft/fff.git
